<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Cope and Drag</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Include Bootstrap CSS, JQuery, etc -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/svg+xml" href="/img/logo.svg">
    <link rel="stylesheet" href="/css/diagramstyle.css">

    <script>
        function loadLocalGraphlib() {
            console.warn("CDN for graphlib-dot.min.js failed. Loading local copy...");
            const script = document.createElement("script");
            script.src = "/js/libs/graphlib-dot.min.js"; // Path to your local copy
            document.head.appendChild(script);
        }

        function loadLocalCola() {
            console.warn("CDN for cola.min.js failed. Loading local copy...");
            const script = document.createElement("script");
            script.src = "/js/libs/cola.js"; // Path to your local copy
            document.head.appendChild(script);
        }
    </script>
    <!-- Primary CDN -->
    <script src="https://marvl.infotech.monash.edu/webcola/extern/graphlib-dot.min.js" onerror="loadLocalGraphlib()"></script>
    <script src="https://ialab.it.monash.edu/webcola/cola.js" onerror="loadLocalCola()"></script>

    <!-- Include d3 here -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Include your custom JavaScript file -->
    <script src="/js/renderer.js" defer></script>
    <script src="/js/imgdownload.js" defer></script>

    <!-- Include Split.js -->
    <script src="https://cdn.jsdelivr.net/npm/split.js/dist/split.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            Split(['#exploreCol', '#instanceCol', '#controlsCol']);
        });

        window.addEventListener('load', function () {
            var width = <%- width %>, height = <%- height %>;
            var nodes = <%- JSON.stringify(colaNodes) %>;
            var edges = <%- JSON.stringify(colaEdges) %>;
            var constraints = <%- JSON.stringify(colaConstraints) %>;
            var groups = <%- JSON.stringify(colaGroups) %>;

            if (width && height && nodes && edges && constraints && groups) {
                setupLayout(d3, nodes, edges, constraints, groups, width, height);
            } else {
                console.error('Missing required data for layout');
            }
        });
    </script>

    <style>
        /* Hide elements with the hidden class */
        .hidden {
            display: none !important;
        }


        .split {
            display: flex;
            flex-direction: row;
        }

        .gutter {
            background-color: #eee;
            background-repeat: no-repeat;
            background-position: 50%;

        }

        .gutter.gutter-horizontal {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
            cursor: col-resize;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="row w-100">
            <div class="col">
                <h4 class="navbar-brand">Cope and Drag</h4>
            </div>
            <div class="col-auto">
                <!-- Logging Control Section -->
                <div class="input-group" id="loggingControlSection">
                    <div class="input-group-prepend">
                        <label for="loggingEnabled" class="form-check-label">
                            <span class="input-group-text">Logging</span>
                        </label>
                    </div>
                    <select class="form-control" id="loggingEnabled" name="loggingEnabled">
                        <option value="enabled" <%= typeof loggingEnabled === 'undefined' || loggingEnabled ? 'selected' : '' %>>Enabled</option>
                        <option value="disabled" <%= typeof loggingEnabled !== 'undefined' && !loggingEnabled ? 'selected' : '' %>>Disabled</option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-sm btn-outline-info float-right" data-toggle="modal" data-target="#loggingInfoModal" id="loggingmoreinfo">?</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <!-- Button Group -->
                <div class="btn-group mp-2" role="group">
                    <!-- Download Diagram Button -->
                    <button id="diagramDownloadButton" class="btn btn-outline-secondary" onclick="downloadHighResPNG(5);" title="Download Diagram">
                        <i class="fas fa-download"></i>
                    </button>

                    <!-- Docs Button -->
                    <a href="https://sidprasad.github.io/copeanddrag/" target="_blank" class="btn btn-outline-secondary mp-2" title="Docs">
                        <i class="fas fa-book"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <%- include ('errorMessages') %>

    <div class="split" id="contentcontainer">
        <!-- Columns for Split.js -->
        <div id="exploreCol">
            <%- include('instanceexplore/explore') %>
        </div>
        <div id="instanceCol">
            <%- include('instanceviews/instance') %>
        </div>
        <div id="controlsCol">
            <%- include('layoutcontrols/controls') %>
        </div>
    </div>
</body>

</html>